<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Project0" packages="">
  <Appenders>
   <File name="File" fileName="D:\java training\week2\Project0\logFile.log" append="true">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</Pattern>
            </PatternLayout>
        </File>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>